.register-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.register-popup {
    background: white;
    padding: 30px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.register-popup input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.register-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #666;
    font-size: 18px;
}

.register-popup button {
    width: 100%;
    background-color: #34d399;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-popup button:hover {
    background-color: #059669;
}